/*This is a CSS file*/
*{
  background: #111111;
  color: white;
  text-decoration: none;
}

.navBar{
  position: fixed;
  width: 100%;
  background: navy;
}

.navBar ul{
  list-style: none;
  display: flex;
  float: left;
  width: 90%;
  margin-left: 5%;
}

.navBar a{
  display: block;
  padding: 10px;
  margin: 10px;
}
